{% extends "base.html" %}

{% block content %}
    <!-- Main Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                {% for i in xrange(0,len(blog_posts)/2) %}
                    <div class="row ad-row hidden-sm hidden-xs">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- Left side ad -->

                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-client="ca-pub-9538826511634757"
                             data-ad-slot="9346187822"
                             data-ad-format="auto"></ins>
                        <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                {% end %}
            </div>
            <div class="col-md-6">
                {% if query is not None %}
                    <div class="search-header">
                        {{ num_posts }} results for: {{ query }}
                        <a href="/" class="btn btn-sm">
                            <i class="glyphicon glyphicon-remove">
                            </i>
                        </a>
                    </div>
                {% end %}
                <nav>
                    <ul class="pager">
                        {% if has_prev %}
                            <li class="previous">
                                <a href="{{base_url % (page-1) }}">
                                    <span aria-hidden="true">&larr;</span> Newer
                                </a>
                            </li>
                        {% end %}
                        {% if has_next %}
                            <li class="next">
                                <a href="{{ base_url % (page+1) }}">
                                    Older <span aria-hidden="true">&rarr;</span>
                                </a>
                            </li>
                        {% end %}
                    </ul>
                </nav>
                {% for (i,post) in enumerate(blog_posts) %}
                    <div class="post-preview" id="{{ post['slug'] }}">
                        {% if post['type'] == 'text' %}
                            {% if post['title'] is not None %}
                                <h2 class="post-title">
                                    {{ post['title'] }}
                                </h2>
                            {% end %}
                            <p class="post-subtitle">
                                {% raw post['body'] %}
                            </p>
                        {% elif post['type'] == 'photo' %}
                            {% for photo in post['photos'] %}
                                <a href="{{ photo['original_size']['url'] }}">
                                    <img src="{{ photo['original_size']['url'] }}" class="img-responsive"/>
                                </a>
                                <p class="post-subtitle">
                                    {% raw post['caption'] %}
                                </p>
                            {% end %}
                        {% elif post['type'] == 'quote' %}
                            {% raw post['source'] %}
                        {% elif post['type'] == 'link' %}
                            <h2 class="post-title">
                                <a href="{{ post['url'] }}">
                                    {{ post['title'] }}
                                </a>
                            </h2>
                            <p class="post-subtitle">
                                {% raw (post['description'] or '') %}
                            </p>
                        {% elif post['type'] == 'chat' %}
                            <h2 class="post-title">
                                {{ post['title'] }}
                            </h2>
                            <p class="post-subtitle">
                                {% raw post['body'] %}
                            </p>
                        {% elif post['type'] == 'answer' %}

                            <h2 class="post-title">
                                <a href="{{ post['asking_url'] }}">
                                    {{ post['asking_name'] }}
                                </a> asked:
                            </h2>
                            <blockquote>
                                {% raw post['question'] %}
                            </blockquote>
                            <p>
                                {% raw post['answer'] %}
                            </p>
                        {% else %}
                            {{ 'cant handle format', post['type'] }}
                        {% end %} <!-- Still missing, audio, video, answer-->

                        <p class="post-meta">Posted by {{ post['blog_name'] }} on {{ formatTime(post['timestamp']) }}</p>
                        <p class="post-meta">Tags:
                            <ul class="tags list-inline">
                                {% for tag in post['tags'] %}
                                    <li>
                                        <a href="/tag/{{ tag }}">{{ tag }}</a>
                                    </li>
                                {% end %}
                            </ul>
                        </p>
                    </div>
                    {% if i % 3 == 2 %}
                        <div class="row ad-row visible-sm visible-xs">
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- Left side ad -->

                            <ins class="adsbygoogle"
                                 style="display:block"
                                 data-ad-client="ca-pub-9538826511634757"
                                 data-ad-slot="9346187822"
                                 data-ad-format="auto"></ins>
                            <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        </div>
                    {% end %}
                {% end %}
                <nav>
                    <ul class="pager">
                        {% if has_prev %}
                            <li class="previous">
                                <a href="{{base_url % (page-1) }}">
                                    <span aria-hidden="true">&larr;</span> Newer
                                </a>
                            </li>
                        {% end %}
                        {% if has_next %}
                            <li class="next">
                                <a href="{{ base_url % (page+1) }}">
                                    Older <span aria-hidden="true">&rarr;</span>
                                </a>
                            </li>
                        {% end %}
                    </ul>
                </nav>
            </div>
            <div class="col-md-2">
                <ul class="nav nav-pill nav-stacked hidden-sm hidden-xs" id="nav" data-spy="affix" data-offset-top="410">
                    <li>
                        Tags
                    </li>
                        {% for (tag,c) in tags %}
                            {% if c > 1 and tag not in ['psychology','psychtruths.com'] %}
                                {% if this_tag is not None and this_tag == tag %}
                                    <span class="nowrap">
                                        <a href="/tag/{{ tag }}" class="btn btn-sm tag-btn">
                                            {{ tag }} ({{ c }})
                                        </a>
                                        <a href="/" class="btn btn-sm">
                                            <i class="glyphicon glyphicon-remove">
                                            </i>
                                        </a>
                                    </span>
                                {% else %}
                                    <a href="/tag/{{ tag }}" class="btn btn-sm tag-btn">
                                        {{ tag }} ({{ c }})
                                    </a>
                                {% end %}
                            {% end %}
                        {% end %}
                    <li>
                        Posts
                    </li>
                    {% for post in blog_posts %}
                        {% if 'title' in post and post['title'] is not None %}
                            <li>
                                <a href="#{{ post['slug'] }}" class="post-link">
                                    {{ post['title'] }}
                                </a>
                            </li>
                        {% end %}
                    {% end %}
                    <li>
                        <a href="#top">
                            Back to top
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% end %}